@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

/* COLOURS */

.color {background-color: hsl(223, 87%, 63%);}
.color {background-color: hsl(354, 100%, 66%);}
.color {background-color: hsl(223, 100%, 88%);}
.color {background-color: hsl(0, 0%, 59%);}
.color {background-color: hsl(209, 33%, 12%);}

/* UNIVERSAL */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Libre Franklin', sans-serif;
    }

/* MEDIA QUERIES */

    @media screen and (min-width: 0px) {

        /* TAGS */
        /* CLASS */
        /* ID */

    }

    @media screen and (min-width: 401px) {

        /* TAGS */
        /* CLASS */
        /* ID */

    }

    .attribution {
        font-size: 11px;text-align: center;
    }
    .attribution a {
        color: hsl(228, 45%, 44%);
    }